.card 
{
   margin-top: 5%;
   margin-left: 5%;
  padding-right: 10%;
  box-sizing: border-box;
}
.card-body
{
margin: 6%;
}

.leftSide
{
   backgroundColor: #B1D5D9;
}
.col-md-10
{
   width: 100%;
}
.col-md-2
{
   margin-left: 110%;
}

.card-img{
   margin-bottom: 50%;
}

.social{
   position: sticky;
   top: 0;
   right: 0;
   
}
.socail i
{
  font-size: 35px;
  display: block;

  
}
